.container-fluid {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%; }

.container-head {
  width: 100%;
  max-width: 1440px;
  height: 776px;
  background-image: url("../img/content/Bitmap.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  padding-left: 250px;
  padding-right: 250px; }
  .container-head .header {
    width: 100%;
    height: 51px;
    background-color: transparent;
    display: flex;
    justify-content: space-between; }
    .container-head .header__logo {
      width: 250px; }
  .container-head .register-block {
    width: 411px; }
    .container-head .register-block__h1 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 900;
      font-size: 2.125rem;
      line-height: 2.25rem;
      color: #ffffff; }
    .container-head .register-block__h3 {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 1.5rem;
      line-height: 1.5rem;
      color: #ffffff;
      display: block;
      margin: 30px 0; }
    .container-head .register-block .form-head {
      width: 300px; }
      .container-head .register-block .form-head .register-checkbox {
        padding-left: 2.75rem; }
        .container-head .register-block .form-head .register-checkbox .label-text {
          font-family: Open Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 0.875rem;
          line-height: 1.125rem;
          letter-spacing: -0.5px;
          color: #d8d8d8; }
      .container-head .register-block .form-head .form-btns {
        width: 100%;
        display: flex;
        justify-content: space-between; }
        .container-head .register-block .form-head .form-btns__item {
          width: 45%; }

.social-block {
  max-width: 1440px;
  width: 100%;
  height: 85px;
  background-color: #172b4d;
  display: flex;
  box-sizing: border-box;
  padding-left: 1076px; }
  .social-block__content {
    width: 114px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .social-block__content_item {
      cursor: pointer; }

.container-main {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 70px; }
  .container-main .waiting-block {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2.1875rem;
    letter-spacing: -0.9px;
    color: #172b4d; }
  .container-main .advantage-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px; }
    .container-main .advantage-container__item {
      height: 250px;
      max-height: 250px;
      min-width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      .container-main .advantage-container__item_icon {
        height: 85px; }
      .container-main .advantage-container__item_title {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        color: #172b4d; }
      .container-main .advantage-container__item_text {
        height: 96px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: center;
        color: #000000; }
  .container-main .text-container {
    display: flex;
    flex-wrap: wrap; }
    .container-main .text-container__block {
      margin-top: 60px;
      display: block; }
  .container-main .photo-container {
    width: 940px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 30px; }
    .container-main .photo-container .profile-item {
      width: 299px;
      height: 441px;
      min-width: 290px;
      background-image: url("../img/content/profile/profile-1.jpg");
      background-size: cover;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding-top: 15px;
      padding-left: 15px;
      margin-top: 30px;
      border-radius: 4px;
      -webkit-box-shadow: inset 0px -92px 43px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: inset 0px -92px 43px 0px rgba(0, 0, 0, 0.75);
      box-shadow: inset 0px -92px 43px 0px rgba(0, 0, 0, 0.75); }
      .container-main .photo-container .profile-item:hover {
        cursor: pointer;
        -webkit-box-shadow: inset 0px 0px 118px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: inset 0px 0px 118px 0px rgba(0, 0, 0, 0.75);
        box-shadow: inset 0px 0px 118px 0px rgba(0, 0, 0, 0.75); }
      .container-main .photo-container .profile-item__status {
        width: 95px;
        height: 23px;
        background-color: #2dce89;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 0.6875rem;
        line-height: 0.9375rem;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* identical to box height */
        text-align: center;
        text-transform: uppercase;
        color: #ffffff; }
      .container-main .photo-container .profile-item__name {
        width: 100%;
        padding-top: 309px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 2rem;
        line-height: 2rem;
        text-align: center;
        color: #ffffff; }
      .container-main .photo-container .profile-item__age {
        width: 100%;
        margin-top: 5px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 1.5rem;
        text-align: center;
        color: #ffffff; }
      .container-main .photo-container .profile-item__options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 60px; }
        .container-main .photo-container .profile-item__options .active {
          color: #172b4d; }
        .container-main .photo-container .profile-item__options_item {
          color: #ffffff;
          display: block; }
  .container-main .about-container {
    min-width: 500px;
    display: flex;
    box-sizing: border-box;
    padding-top: 70px;
    flex-wrap: wrap; }
    .container-main .about-container__block_title {
      padding: 0;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 1.5rem;
      line-height: 2.1875rem;
      color: #172b4d; }
    .container-main .about-container__block_text {
      margin-top: 35px;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: -0.1px;
      color: #000000; }
  .container-main .hr {
    margin-top: 70px; }
  .container-main .contacts-block {
    display: flex;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.5px;
    color: #8898aa; }
  .container-main .nav-container {
    margin-top: 40px; }
    .container-main .nav-container__ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 15px; }
      .container-main .nav-container__ul_li {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1.1875rem;
        text-align: center;
        letter-spacing: -0.4px;
        color: #525f7f; }
